.menu__link {
    color: #FFF;
    margin-right: 1.25rem;
    text-decoration: none;
    font-size: 1.8rem;
}

.menu__link--activo {
    color: #ac0707;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.menu__link:hover {
    text-decoration: underline;
    color: darkgrey;
}