.menu__item{
    list-style: none;
    font-size: 1.8rem;
    padding-right: 2rem;
    display: flex;
    text-transform: uppercase;
}
.dropdown-menu-item{
    z-index: 6;
    /*background-color: blue;*/
    /*position: relative;*/
}

.dropdown{
    padding-bottom: 0rem;
}

.dropdown-menu{
    color: #FFF;
    background: #1F1F1F;
    /*background-color: pink;*/
    z-index: 15;
    /*padding-top: .5rem;*/
    position: relative;
    top: 60%;
    left: 10rem;
    right: 10rem;
    border-width: .3rem;
    border-style: solid;
    border-color: #0F0F0F;
    margin-left: 10rem;
    /*text-decoration: none;*/
}
.dropdown-menu .dropdown-menu-item .menu__link {
    padding-right: 1rem;
    /*text-decoration: none;*/
    /*text-decoration: underline dashed !important;*/
    /*text-decoration-color: red;*/
}
.dropdown-menu .dropdown-menu-item a {
    /*text-decoration: underline dashed !important;*/
    /*text-decoration-color: red;*/
    /*text-decoration: none !important;*/
    /*color: aqua;*/
}
.dropdown-menu-item .menu__link{
    font-size: 1.5rem;
}

.dropdown-menu .menu__item{
    /*padding: 0 1rem 1rem 2rem;*/
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    width: max-content;
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
    .menu__item{
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width:576) {

}