/*.menu__lista{
    display: flex;
}*/
.main-nav ul li ul{
    display: none;
}
.main-nav ul li:hover {
    cursor: pointer;
    /*background-color: #f2f2f2;*/
}
.main-nav ul li:hover ul {
    /*text-decoration: underline;*/
    color: darkgrey;

    display: block;
    margin-top: 15px;
    width: auto;
    left: 0;
    position: absolute;
    padding-left: 1rem;
    padding-right: 2rem;
    z-index: 20;
}