.clase__cabecera{
    font-size: 1.5rem;
    padding-bottom: .7rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.clase__cabecera--TP{
    flex-direction: column;
}

.clase__titulo{
    text-decoration: underline double;
}

.clase__fecha--TP{
    padding-top: 1rem;
    color: red;
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
    .clase__cabecera{
        flex-direction: column;
    }
    .clase__fecha{
        padding-top: .8rem;
    }
}

@media screen and (max-width:576px) {

}