.banner__imagen{
    background: url('../../img/banner_pizarron.jpeg') no-repeat center / cover;
    width: 100%;
    max-height: 20rem;
    margin-bottom: 3rem;
    z-index: 1;
}

@media screen and (min-width:0){
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}


@media screen and (min-width:768px){
    .banner__imagen{
        height: calc(100vh - 72px);
    }
}