
.escuelas__botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    /*background-color: aqua;*/
}

.escuela__link{
    width: 100%;
}

.escuela__boton {
    background:#DA2B1F;
    border: solid;
    border-width: 2px;
    border-color: cornflowerblue;
    border-radius: 15px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out ;
    /*width: 30rem;*/
    width: 66%;
    margin: 1rem auto;
}

.escuela__boton:hover{
    cursor: pointer;
    background: #9f1010;
    border-color: darkblue;
}

/*
.escuela__boton a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
*/
@media screen and (max-width:1024px) {
    .escuelas__botones{
        width: 100%;
    }
    .escuela__boton{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .escuelas__botones{
        width: 100%;
    }
    .escuela__boton{
        width: 90%;
    }
    /*
    .escuela__link{
        min-width: 70%;
    }
    .escuela__link .escuela__boton{
        min-width: 100%;
        background-color: blue;
    }
    */
}

@media screen and (max-width:576px) {
    .escuelas__botones{
        width: 100%;
    }
    .escuela__boton{
        width: 90%;
    }
}