.footer__logo{
    display: flex;
    /*color: #FFF;
    font-weight: 400;
    font-size: 1.25rem;*/
    align-items: center;
    padding: 1.5625rem;

}

.footer__logo-img{
    max-width: 15rem;
    /*width: 20px;*/
}


@media screen and (max-width:1024px) {
    .footer .footer__logo{
        display: none;
    }
}

@media screen and (max-width:768px) {


}

@media screen and (max-width:576px) {
   /* .footer{
        padding: 0 1rem;
        justify-content: center;
    }*/
}