.cabecera {
    align-items: center;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__lista li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu__lista li:hover > ul {
    display: block;
}

.menu__lista li ul li {
    position: relative;
}




@media screen and (min-width:0) {
    .cabecera{
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .cabecera{
        padding: 0 5rem;
        justify-content: space-between;
    }
}