footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-direction: row;
    border-top: .2rem solid #FFF;

}



@media screen and (max-width:1024px) {
    /*.footer{
        max-width: 95%;
        display: flex;
        justify-content: unset;
        padding: 0;
        flex-direction: column;
    }*/
}

@media screen and (max-width:768px) {
    .footer{
        max-width: 95%;
        display: flex;
        justify-content: unset;
        padding: 0;
        flex-direction: column;
    }
}

@media screen and (max-width:576) {
    .footer{
        padding: 0;
        /*padding-left: 10rem;*/
        justify-content: center;
    }
}
/*
@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:576) {
    
}
*/
